qemu/
build/
kernel.bin
.cache/
.vscode
.bash_history
*.o
*.d
cscope*
scripts/own.mk
compile_commands.json
.config*
/toolchain
/include/generated
/include/config
kernel*
*.img

built-in.a

loos.out

__pycache__
